<mat-card>
    <mat-card-header>
        <h1>User Registration</h1>
    </mat-card-header>
    <mat-card-content>

        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary">Submit</button> &nbsp;
                <a routerLink="/login" mat-stroked-button color="accent">Login</a>
            </div>

        </form>

    </mat-card-content>
</mat-card>